<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\Kesco.App.Web.Inventory.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <authentication>
          <windowsAuthentication enabled="true" />
          <anonymousAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <appSettings>
    <add key="AppName" value="Инвентаризация" />
    <add key="ClayGrid:DefaultPageSize" value="50" />
    <add key="Sql:CommandTimeout" value="30" />
    <add key="URI_help_clayGrid" value="https://postnn.github.io/clayzor-docs/components/claygrid/" />
  </appSettings>
  <connectionStrings>
    <add name="DS_user"
         connectionString="Server=localhost;Database=Инвентаризация;Integrated Security=true;TrustServerCertificate=true;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
